<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <title>News APP</title>
  <style>
    .marquee {
      background-color: rgb(142, 179, 181);
      color: aliceblue;
      padding: 10px;
      text-align: center;
    }

    .search-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }

    .search-input {
      border-radius: 55px;
      width: 30%;
      height: 47px;
      text-align: center;
    }

    .search-button {
      width: 90px;
      border-radius: 30px;
      height: 40px;
    }

    .radio-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    .radio-label {
      margin-right: 10px;
    }

    .select-container {
      margin-left: 15px;
      margin-right: 5px;
    }

    .card {
      width: 25rem;
      background-color: #f8f9fa;
      border: 1px solid #dee2e6;
    }

    .error-card {
      background-color: #ffcccc;
      border: 1px solid red;
    }

    .error-message {
      padding: 9px;
    }
  </style>
</head>

<body>
  <div class="marquee">
    <h3>A platform that provides all kinds of news to keep you updated</h3>
  </div>
  <h1 class="text-center">News App</h1>

  <form action="" method="get">
    <div class="search-container">
      <input type="text" name="q" placeholder="What do you want to search for?" class="form-control search-input">
      <!-- <button id="submit" class="btn btn-success search-button" type="submit" value="Search">Search</button> -->
      <button id="submit" type="submit" class="btn btn-primary"><i class="bi bi-search"></i></button>
    </div>
    <div class="radio-container">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Endpoint" id="everything" value="everything"
          onclick='change("everything")' checked>
        <label class="form-check-label radio-label" for="everything">Everything</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Endpoint" id="topheadlines" value="topheadlines"
          onclick='change("headlines")'>
        <label class="form-check-label radio-label" for="topheadlines">Top Headlines</label>
      </div>
      <select name="sel" id="sel" class="form-select select-container">
        <option selected disabled hidden>Choose endpoint to populate lists</option>
      </select>
      <select name="sel1" id="sel1" class="form-select select-container">
        <option selected disabled hidden>Choose endpoint to populate lists</option>
      </select>
    </div>
  </form>

  <br>
  <br>

  {% if status == 'ok' %}
  <div class="container">
    <div class="row">
      {% for i in articles %}
      <div class="col-sm-6">
        <div class="card rounded shadow-lg m-2">
          <img src="{{ i.urlToImage }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{ i.author }}</p>
            <h5 class="card-title">{{ i.title }}</h5>
            <p class="card-title">{{ i.source.name }}</p>
            <p class="card-text">{{ i.description }}</p>
            <hr>
            <small>date: {{ i.publishedAt }}</small>
            <a href="{{ i.url }}" target="_blank" class="btn btn-success m-1">See News</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if status == 'error' %}
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card rounded shadow-lg m-2 error-card">
          <p class="error-message"><b>Error:</b> {{ message }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

</body>

<script>
  const status = "{{ status }}";

  function removeOptions(selectElement) {
    var i, L = selectElement.options.length - 1;
    for (i = L; i >= 0; i--) {
      selectElement.remove(i);
    }
  }

  function change(arr) {
    var el = document.getElementById('sel');
    removeOptions(document.getElementById('sel'));
    var el1 = document.getElementById('sel1');
    removeOptions(document.getElementById('sel1'));
    if (arr == "everything") {
      el.options[0] = new Option("Select a language");
      el.options[0].disabled = true;
      el.options[0].hidden = true;
      el.options[1] = new Option("German", "de");
      el.options[2] = new Option("English", "en");
      el.options[3] = new Option("Spanish", "es");
      el.options[4] = new Option("French", "fr");
      el.options[5] = new Option("Hebrew", "he");
      el.options[6] = new Option("Italian", "it");
      el.options[7] = new Option("Dutch", "nl");
      el.options[8] = new Option("Norwegian", "no");
      el.options[9] = new Option("Portuguese", "pt");
      el.options[10] = new Option("Russian", "ru");
      el.options[11] = new Option("Swedish", "se");
      el.options[13] = new Option("Urdu", "ud");
      el.options[12] = new Option("Chinese", "zh");
      el.options[13] = new Option("Arabic", "ar");
      el1.options[0] = new Option("Sorted by");
      el1.options[0].disabled = true;
      el1.options[0].hidden = true;
      el1.options[1] = new Option("relevancy", "relevancy");
      el1.options[2] = new Option("popularity", "popularity");
      el1.options[3] = new Option("publishedAt", "publishedAt");
    } else {
      el.options[0] = new Option("Select a country");
      el.options[0].disabled = true;
      el.options[0].hidden = true;
      el.options[1] = new Option("Argentina", "ar");
      el.options[2] = new Option("Australia", "au");
      el.options[3] = new Option("Brazil", "br");
      el.options[4] = new Option("Canada", "ca");
      el.options[5] = new Option("China", "zh");
      el.options[6] = new Option("France", "fr");
      el.options[7] = new Option("Germany", "de");
      el.options[8] = new Option("India", "in");
      el.options[9] = new Option("Ireland", "ie");
      el.options[10] = new Option("Israel", "is");
      el.options[11] = new Option("Italy", "it");
      el.options[12] = new Option("Netherlands", "nl");
      el.options[13] = new Option("Norway", "no");
      el.options[14] = new Option("Pakistan", "pk");
      el.options[15] = new Option("Russia", "ru");
      el.options[16] = new Option("Saudia Arabia", "sa");
      el.options[17] = new Option("Sweden", "se");
      el.options[18] = new Option("United Kingdom", "gb");
      el.options[19] = new Option("United States", "us");
      el.options[20] = new Option("Spain", "es");
      el1.options[0] = new Option("Select a category");
      el1.options[0].disabled = true;
      el1.options[0].hidden = true;
      el1.options[1] = new Option("sports", "sports");
      el1.options[2] = new Option("technology", "technology");
      el1.options[3] = new Option("business", "business");
      el1.options[4] = new Option("entertainment", "entertainment");
      el1.options[5] = new Option("general", "general");
      el1.options[6] = new Option("health", "health");
      el1.options[7] = new Option("science", "science");
    }
  }

  change("everything");
</script>

</html>
